.form-body{
    margin: auto;
    padding-top: 25px;
}

form{
    /* text-align: center; */
    background-color: blue;
    padding: 5%;
    border-radius: 2%;
}

.control-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.control{
    display: flex;
    flex-direction: column;
}

.control label{
    text-align: start;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
}
.control input{
    padding: 5px;
}
.control-row input{
    width: 350px;
}

@media (max-width: 600px){
    .control-row{
        display: flex;
        flex-direction: column;
    }
}