.form-body {
  margin: auto;
  padding-top: 25px;
}

form {
  /* text-align: center; */
  background-color: rgb(254, 254, 254);
  padding: 5%;
  border-radius: 2%;
}

.control-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.control {
  display: flex;
  flex-direction: column;
}

.resume{
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  /* margin: 1cm auto; */
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.control input {
  padding: 5px;
}
.control-row input {
  width: 350px;
}

@media (max-width: 600px) {
  .control-row {
    display: flex;
    flex-direction: column;
  }
}
