form{
    /* text-align: center; */
    padding: 0 25%;
}

.control-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.control{
    display: flex;
    flex-direction: column;
}

.control label{
    text-align: start;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
}
.control input{
    /* width: 250px; */
    padding: 5px;
}