header{
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
    background-color: var(--brand-primary);
    align-items: center;
}

header img{
    height: 100px;
    width: 100px;
}

header .resume-lo1{
    color: var(--color-info-bg);
}
header .resume-lo2{
    color: var(--brand-accent);
}