header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--brand-primary);
    align-items: center;
}

header img{
    height: 100px;
    width: 100px;
}